* {margin:0;padding:0;}

html, body {background:lightblue;}

header {background:#333;color:#fff;padding:2.5%;text-align:center;}

section#main {
	background:#fff;
	border-radius:12px;
	margin:2.5% 25%;
	padding:2.5%;
	width:50%;
}



form label {display:block;margin:20px 0 5px;width:100%;}
form input {margin:5px 0 25px;padding:2.5%;width:95%; font-size: 20px;}
form textarea {padding:2.5%;width:95%;}
form button {display:block;padding:2.5%;width:100%;}

footer {background:#333;color:#fff;bottom:0;padding:2.5%;position:fixed;text-align:center;width:100%;}



/*
styles for autocomplete
*/
.acResults {
	padding: 0px;
	border: 1px solid WindowFrame;
	background-color: Window;
	overflow: hidden;
}

.acResults ul {
	margin: 0px;
	padding: 0px;
	list-style-position: outside;
	list-style: none;	
}

.acResults ul li {
	margin: 0px;
	padding: 2px 5px;
	cursor: pointer;
	display: block;
	font: menu;
	font-size: 20px;
	overflow: hidden;
}

.acLoading {
	background : url('indicator.gif') right center no-repeat;
}

.acSelect {
	background-color: Highlight;
	color: HighlightText;
}